/dokument.aux
/dokument.bbl
/dokument.bcf
/dokument.blg
/dokument.ind
/dokument.toc

/dokument.synctex.gz
/dokument.ilg
/dokument.idx
/dokument.log
/dokument.pdf
/dokument.run.xml

/dokument.synctex.gz(busy)
